zig-cache/
zig-out/
/release/
/debug/
/build/
/build-*/
/docgen_tmp/
/references
/tmp
**/*.o
**/*.a
**/*.so
/.vscode
!.vscode/settings.json
**/*-testing
**/tabled/
**/TODO*
**/NOTES**
**/*.bak*
**/private
